/* ================================= 
            Base Styles
==================================== */
*{
    box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; */

.section-a, .section-b, .section-c{
    display: block;
}
.header a {
    background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    display: inline-block;
    width: 100%;
    height: 20%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.btn {
    background-image: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(131, 189, 255));
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin: .5rem 0;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.price, .avatar-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5 , .purchased-item, .purchased-item-price{
    margin: .5rem;
    padding: .5rem;
}

input, button {
    display: inline-block;
}

/* ================================= 
            GRID styles
==================================== */
.cart-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}




/* ================================= 
            Section A
==================================== */




/* ================================= 
            Section B
==================================== */
.album-item {
    padding: 3rem 0;
}

.album-cover img {
    width: 100%;
}
.album-cover {
    display: inline-block;
    width: 70%;
    height: 300px;
}

.album-name {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.album-item h5, button {
    display: inline-block;
    padding: 1rem 0;
    margin: 0;
}

.price {
    float: left;
}

.add-to-cart {
    float: right;
}

/* ================================= 
            Section C
==================================== */

.cart {

    border-bottom: black solid 2px;
}


.column {
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    text-align: center;
}


.purchased-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    height: 10rem;
}

.purchased-item-price {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid black;
    height: 10rem;
    font-size: 3rem;
}

.purchased-item-avatar {
    width: 100%;
    margin: 1rem 0;
    border-radius: 15px;
}

.avatar-title, .purchased-item-avatar, .purchased-item-price h6 {
margin: auto 0;
}

.underscore {
    border-bottom: 2px solid black;
    text-align: left;
}

.quantity {
    border-bottom: black 2px solid;
    height: 10rem;
}

.cont {
    padding: 3rem 0;
    margin-bottom: 1.3rem;
}

#cart-quantity {
    width: 40%;
    float: left;
    margin: .5rem .5rem;
}
/* ================================= 
            Section D
==================================== */




/* ================================= 
            Section E
==================================== */








/* ================================= 
            Media Queries
==================================== */

/* Mobile Landscape */
@media (min-width: 480px) {


}

/* Tablet Portrait */
@media (min-width: 768px) {


}

/* Tablet Landscape */
@media (min-width: 992px) {

    
}

/* Laptop Screens */
@media (min-width: 1200px) {

    
}


/* ================================= 
            DRY CSS
==================================== */





/* ================================= 
            Combinators
==================================== */