
.App {
  text-align: center;
  background-color: rgb(54, 54, 54);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  Header{
    background-color: red;
    min-height: 20vh;
  }
}
  