$bg: wheat;
$hl: rgb(141, 161, 250);
$sh: rgb(96, 119, 223);

body {
    background: $bg;
    padding: 0;
    margin: 3rem;
    box-sizing: border-box;
}

.item{
    background-color: $hl;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2rem;
}



.container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 150px 150px 100px;
    gap: 20px;
    border: 2px solid $sh;
    grid-template-areas: "sidebar-1 content sidebar-2"
                        "sidebar-1 content sidebar-2"   
                        "footer footer footer"
    

}

.item1{
    grid-area: content;
}

.item3{
    grid-area: sidebar-1;
}

